.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item-flex {
  flex: 0 1 auto;
}
/* xs*/
@media (min-width: 320px) {
  body {
    background-color: pink;
  }
}
/*s*/
@media (min-width: 576px) {
  body {
    background-color: blue;
  }
}
/*m*/
@media (min-width: 768px) {
  body {
    background-color: lightgray;
  }
}
/*l*/
@media (min-width: 992px) {
  body {
    background-color: green;
  }
}
/*xl*/
@media (min-width: 1200px) {
  body {
    background-color: plum;
  }
}